<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Raven Coff"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name=".InicioActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".Menu" />


        <activity android:name=".letrero"/>
        <activity android:name=".detallepedido1"/>
        <activity android:name=".detallepedido2"/>
        <activity android:name=".detallepedido3"/>
        <activity android:name=".detallepedido4"/>

        <activity android:name=".detallepedido5"/>
        <activity android:name=".detallepedido6"/>
        <activity android:name=".detallepedido7"/>
        <activity android:name=".detallepedido8"/>

        <activity android:name=".detallepedido9"/>
        <activity android:name=".detallepedido10"/>
        <activity android:name=".detallepedido11"/>
        <activity android:name=".detallepedido12"/>



        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>