<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal">

        <activity android:name=".letrero"/>
        <activity android:name=".detallepedido1"/>
        <activity android:name=".detallepedido2"/>
        <activity android:name=".detallepedido3"/>
        <activity android:name=".detallepedido4"/>
        <activity android:name=".detallepedido5"/>
        <activity android:name=".detallepedido6"/>
        <activity android:name=".detallepedido7"/>
        <activity android:name=".detallepedido8"/>
        <activity android:name=".menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>